* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  background-color: #e3e3e3;
}
b {
  color: #f97a2c;
}
#chatbot-interface {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#bot-face {
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#chat-container {
  /* margin-top: 0.5rem; */
  display: flex;
  justify-content: center;
}

#chat-form {
  display: flex;
  background: #fdfdfd;
  width: 32rem;
  padding: 1rem 2rem;
}

#chat-input {
  /* margin: 0 0.2rem; */
  width: 27.7rem;
  padding: 0.7rem 0.5rem;
  border-radius: 0.3rem;
  border-style: none;
  background-color: #edeeef;
}
#chat-input::placeholder {
  font: italic 0.9rem "Noto Sans", sans-serif;
}

#btn-chat-send {
  display: flex;
  align-self: flex-end;
  padding: 0.2rem 0.4rem;
  border: 0;
  background-color: transparent;
  font-size: 1.6rem;
  color: #f97a2c;
  margin-left: 0.5rem;
}

#btn-chat-send:active {
  color: #af4e12;
}

#chatbox-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#chatbox {
  width: 32rem;
  height: 30rem;
  border-style: none;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  font-size: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  background: #fdfdfd;
}

.chat-item {
  display: flex;
  color: black;
}

.chat-item-user {
  margin: 0.5rem 0 0.5rem 0;
}
.position-right {
  margin-left: auto;
  border: 2;
}
.chat-container {
  background: #fafafa;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(204, 204, 204, 0.324);
  padding: 0.5rem 0.5rem;
}

.chat-item-bot {
  max-width: 20rem;
}
.chat-item-bot img {
  max-width: 15rem;
  max-height: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2rem;
}

#bot-img {
  display: flex;
  align-self: flex-end;
  border-radius: 1rem;
  max-width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin: 0 0.2rem 0.1rem 0;
}
#bot-img img {
  max-width: 8rem;
  height: 8rem;
  margin: -1.98rem 0 0 -3rem;
}
